.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 16px 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 16px;
}

nav ul li {
  display: inline-block;
  margin: 0 16px;
}

nav {
  margin-left: auto;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

button {
  border: 1px solid deepskyblue;
  padding: 8px 16px;
  border-radius: 4px;
  color: deepskyblue;
  background-color: inherit;
}
